body {
    background: #fff;
}
#container1 {
    width: 100%;
    height: auto;
    background: url('../img/background.png') no-repeat center;
    background-size: cover;
}

#registerChoose {
    display: flex;
    padding-top: calc(50vh - 80px);
}

p {
    margin: 0;
}
/*TODO: space-around */
#registerChoose a, #registerChoose div {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#container {
    /*TODO: Figure out why -20px is needed, cause it leaves white spaces on left and right and it's stupid*/
    width: calc(100vw - 20px);
    margin: 0 auto;
    height: 300vh;

}
nav {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
}

footer {
    /*TODO: Footer on main page will be completely different*/
}