input[type='email'],
input[type='text'],
input[type='password'],
input[type='search'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 10px 10px 40px;
    background: url('../img/pencil.png') 8px center no-repeat, rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
input[type='email'] {
    background: url('../img/email.png') 12px center no-repeat, rgba(255, 255, 255, 0.75);
    background-size: 16px;
}

input[type='email']:hover {
    background: url('../img/email.png') 12px center no-repeat, rgba(255, 255, 255, 1);
    background-size: 16px;
}

input[type='text']:hover,
input[type='password']:hover {
    background: url('../img/pencil.png') 8px center no-repeat, rgba(255, 255, 255, 1);
}

.loginForm2 {
    display: none;
}
.loginForm2,
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 15px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

input[type="search"] {
    border-radius: 5px 0 0 5px;
}
#searchBtn {
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
}