@import url(http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400&subset=latin,cyrillic-`,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.boldText {
    font-weight: bold;
}
.shadowedText {
    text-shadow: 1px 1px 5px #000;
}
.flex {
    display: flex;
    width: 100%;
}
.swapFlex {
    flex-direction: column;
}
.flexGrow {
    flex-grow: 1;
}
.flexShrink {
    flex-shrink: 1;
}
.justifyEnd {
    justify-content: flex-end;
}
.nyi {
    color: #ccc !important;
    text-decoration: line-through !important;
}



#version {
    font-size: 1.2em;
}
#versionBranch {
    color: crimson;
}
/**:not(body):not(input) {*/
#container {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased !important;
}
html {
    color: #fff;
}
html,body {
    margin: 0;
    padding: 0;
    font: 1em 'Lato', Arial, sans-serif;
}
body {
    background: url('../img/background.png') no-repeat center fixed;
    background-size: cover;
}
a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
nav#top ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav#top ul li {
    padding: 0 20px 0 0;
    border: 0 solid #000;
}
nav#top ul li:nth-last-of-type(1) {
    padding-right: 0;
}
nav#top ul li a {

}
#container {
    width: calc(95vw - 10px);
    max-width: 1800px;
    margin: 5px auto 20px;
    padding: 5px;
    background: rgba(50, 50, 50, 1);
    border: 2px solid rgba(25, 25, 25, 0.7);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
header, nav, main, footer {
    width: calc(100% - 10px);
    margin: 5px auto 0;
    padding: 5px;
    background: transparent;
}
header {
    margin-top: 0;
}
nav, #profileMenu {
    background: crimson;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 0;
}
main {
    background: rgba(25, 25, 25, 1);
    -webkit-box-shadow: inset 0 0 15px #000;
    -moz-box-shadow: inset 0 0 15px #000;
    box-shadow: inset 0 0 15px #000;
}
fieldset {
    border:1px solid crimson;
    background: rgba(10, 10, 10, 0.5);
    box-shadow: 1px 1px 10px #000;
}

legend {
    color:crimson;
    font-size:90%;
}
#profileTypeDesc {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    background: rgba(10, 10, 10, 0.5);
}

#loginForm {
    width: 30%;
    margin: 0 auto 10px;
}
.dropdown {
    position: relative;
}
.dropdownNav {
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 101;
    border: 1px solid #fff;
    border-top: 0;
    background: crimson;

    visibility: hidden;
    opacity: 0;
    transform: translateZ(0);
    transform: translateY(10%);
    transition: all 0.5s ease 0s, visibility 0s linear 0.5s; /* the last value is the transition-delay for visibility */
}
.dropdown:hover .dropdownNav {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 0s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
.dropdownNav li {
    padding-right: 0 !important;
    margin: 0;
}
.dropdownNav li a {
    width: calc(100% - 10px);
    display: flex;
    padding: 5px;
}

.dropdownNav li a:hover {

    background: #d64937;
}

#cover {
    /*background: url('https://placehold.it/2000x2000') no-repeat center;*/
    background-size: cover;
    width: 90%;
    height: 200px;
    /*height: 300px;*/
    margin: 0 auto;
    position: relative;
}

#profilePic {
    border: 2px solid #000;
    width: 150px;
    height: 150px;
}

#profileName {
    padding-left: 10px;
    text-shadow: 2px 2px 0 #000;
}

#row1 {
    padding: 5px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

#tabs {
    width: 90%;
    background: darkcyan;
    margin: -410px auto 0;
}